.hello-world {
  color: green;
  font-family: "Courier New", Courier, monospace;
}

.inlog-1 {
  border-right: 2px solid;
  border-top: 2px solid;
  border-color: rgba(216, 47, 208, 0.842);
}

.inlog-2 {
  border-right: 2px solid;
  border-color: rgba(219, 37, 128, 0.801);
}

.inlog-3 {
  border: 2px solid;
  border-color: rgba(134, 47, 216, 0.795);
}
